h1, p, body, html {
    margin:0;
    padding:0;
    
}

body {
    background-color:#EEEEEE; 
    height:100%;
    width:100%;
}

#container {
    width:100%; 
    height:100%;
}

#header { 
	clear:both;
    background-color:green;
    color : white;
    position:absolute;
    top:0px;
    width: 100%;
    text-align: center;
     
    
}

#header h1 {
    margin-bottom: 0px;
    font-family: papyrus;
    
}	


#content {
    float:left;
    background-image: url("../resources/images/background.jpg");
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    padding:0px; 
    margin:0px;
    
    
   
}

#content h1 {
	
	align: center;
	font-family:Lucida Bright;
	text-align:center;
	color : white;
}



#footer {
    clear:both;	/*No floating elements are allowed on left or right*/
    background-color:green;
    color : white;	
    text-align:center;
    font-weight: bold;
    position:absolute;
    bottom:0px;
    width:100%;
    font-family:papyrus;
}

.errorMessage {
    color: red;
}

input[type="submit"], input[type="button"] {
	padding : 10px;
}