h1, p, body, html {
    margin:0;
    padding:0;
}

body {
    background-color:#EEEEEE; 
}

#container {
    width:100%;

}

#header { 
    background-color:green;
    color : white;
    width:100%; 
    
}

#header h1 {
    margin-bottom: 0px;
    font-family: papyrus;
    text-align:center;
}	


#content {
    background-image: url("../resources/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: absolute;
    backgroud-size:100%;
    min-height:913px; 
    /*padding-bottom:100%;*/
    
}


#content h1 {
	font-family:Lucida Bright;
	color:white;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}


#content .centerimage {
	
	margin-left:705px;
	border-style:outset;
	border-width:5px;
	border-color:green;
	
}



#footer {
    clear:both;	/*No floating elements are allowed on left or right*/
    background-color:green;
    color : white;	
    text-align:center;
    font-weight: bold;
    /*position:absolute; */
    bottom:0;
    width:100%;
    font-family:papyrus;
}

.errorMessage {
    color: red;
}

input[type="submit"], input[type="button"] {
	padding : 20px;
	font-family: papyrus;
}

#content .buttonClass {
	
	margin-left:800px;
	
	
}

#panelview {
	padding-left:1200px;
	padding-top:50px;
}

#panelviewstory {
	padding-left:150px;
	width: 350px;
	position: absolute;
	border:black 50px;
}